<!DOCTYPE html>
<html>

<head>
    <title>Chat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
    <div class="container">
        <div class="limiter">
            <div class="container-login100" id="userFormArea">
                <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                    <form class="login100-form" id="userForm">
                        <span class="login100-form-title p-b-49">
                            Login
                        </span>
                        <div class="wrap-input100 m-b-23">
                            <span class="label-input100">Username</span>
                            <input class="input100" type="text" name="username" id="username" placeholder="Enter your username" required>
                            <span class="focus-input100" data-symbol="&#xf206;"></span>
                        </div>
                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button class="login100-form-btn">
                                    Login
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="ui" id="messageArea" style="display: none">
            <div class="left-menu">
                <h4 class="text-center bg-primary text-light">online users</h4>
                <menu class="list-friends" id="users"></menu>
            </div>
            <div class="chat">
                <ul class="messages"></ul>
                <div class="write-form">
                    <textarea placeholder="Type your message" id="text" rows="2"></textarea>
                    <span class="send">Send</span>
                    <div class="chat-item chat-item1">
                        <input type="file" accept="image/*" id="image" />
                        <i class="fa fa-picture-o picture"></i>
                    </div>
                    <div class="chat-item chat-item2">
                        <input type="file" accept="video/*" id="video" />
                        <i class="fa fa-video-camera"></i>
                    </div>
                    <div class="chat-item chat-item3">
                        <input type="file" accept="file/*" id="file" />
                        <i class="fa fa-file"></i>
                    </div>
                    <div class="chat-item chat-item4" id="volume">
                        <i class="fa fa-volume-up"></i>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/jquery-3.4.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src='js/jquery.nicescroll.js'></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/main.js"></script>
</body>

</html>