* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
}

body {
    overflow: hidden;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

.ui {
    margin: 20px auto;
    width: 900px;
    height: 700px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 25px #2a2a2a;
    flex-direction: row;
    display: flex;
    overflow: hidden;
}

.ui .search input {
    outline: none;
    border: none;
    background: none;
}

.ui .search {
    position: relative;
}

.ui .search input[type=submit] {
    font-family: 'FontAwesome';
    position: absolute;
    right: 25px;
    top: 27px;
    color: white;
}

.ui .search input[type=search] {
    background-color: #696c75;
    border-radius: 3px;
    padding: 10px;
    width: 90%;
    box-sizing: border-box;
    margin: 15px 10px;
    color: #fff;
}

.ui .left-menu {
    width: 29%;
    box-sizing: content-box;
    height: 100%;
    background: #434753;
}

.ui .chat {
    width: 80%;
    height: 100%;
    background: #f1f5f8;
}

.ui .chat .info {
    display: inline-flex;
    flex-direction: column;
    vertical-align: 40px;
    width: calc(100% - 65px - 50px);
}

.ui .chat .info .name {
    font-weight: 600;
    color: #434753;
    height: 50%;
}

.ui .chat .info .count {
    color: #6d738d;
}

.ui .chat i.fa {
    color: #d6d9de;
    vertical-align: 25px;
}

.ui .avatar>img,
.ui .list-friends img {
    border-radius: 50%;
    border: 3px solid #696c75;
}

.ui .list-friends {
    list-style: none;
    font-size: 15px;
    height: 88%;
}

.ui .list-friends img {
    margin: 5px;
}

.ui .list-friends>li {
    display: flex;
    margin: 0 0 10px 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui .list-friends .info {
    flex: 1;
}

.ui .list-friends .user {
    color: #fff;
    margin-top: 12px;
    font-size: 17px;
}

.ui .list-friends .status {
    position: relative;
    margin-left: 14px;
    color: #a8adb3;
}

.ui .list-friends .off:after,
.ui .list-friends .on:after {
    content: '';
    left: -12px;
    top: 8px;
    position: absolute;
    height: 7px;
    width: 7px;
    border-radius: 50%;
}

.ui .list-friends .off:after {
    background: #7bc4ef;
}

.ui .list-friends .on:after {
    background: #62bf6e;
}

.ui .top {
    height: 70px;
}

.ui .messages {
    height: calc(100% - 50px - 110px);
    list-style: none;
    border-bottom: 2px solid white;
}

.ui .messages li {
    margin: 10px;
    transition: all 0.5s;
}

.ui .messages li:after {
    content: '';
    clear: both;
    display: block;
}

.ui .messages li .head {
    font-size: 13px;
}

.ui .messages li .name {
    font-weight: 600;
    position: relative;
}

.ui .messages li .time {
    color: #575757;
    font-size: 10px;
}

.ui .messages li .message {
    margin-top: 20px;
    color: #fff;
    font-size: 17px;
    border-radius: 3px;
    padding: 0px 16px;
    line-height: 25px;
    max-width: 500px;
    word-wrap: break-word;
    position: relative;
}

.ui .messages li.friend-with-a-SVAGina .name:after {
    background-color: #62bf6e;
    left: -20px;
    top: 6px;
}

.ui .messages li.friend-with-a-SVAGina .message {
    background-color: #62bf6e;
    float: left;
    border-radius: 20px 20px 20px 0px;
}

.ui .messages li.friend-with-a-SVAGina .message:before {
    left: 16px;
    border-bottom-color: #62bf6e;
}

.ui .messages li.i .head {
    padding: 0px;
    text-align: left;
}

.ui .messages li.i .name,
.ui .messages li.friend-with-a-SVAGina .name {
    color: black;
    font-size: 12px;
}

.ui .messages li.i .name:after {
    background-color: #7bc4ef;
    right: -20px;
    top: 6px;
}

.ui .messages li.i .message {
    background-color: #7bc4ef;
    float: right;
    border-radius: 20px 20px 0px 20px;
}

.ui .messages li.i .message:before {
    right: 16px;
    border-bottom-color: #7bc4ef;
}

.ui .write-form {
    height: 150px;
}

.ui .write-form textarea {
    height: 75px;
    margin: 17px 5% 5px;
    width: 90%;
    outline: none;
    padding: 15px;
    border: none;
    border-radius: 3px;
    resize: none;
}

.ui .write-form textarea:before {
    content: '';
    clear: both;
}

.ui .avatar>img {
    border-color: #62bf6e;
    margin: 10px;
    margin-right: 5px;
}

.ui .avatar {
    display: inline-block;
}

.ui .send {
    color: #13a1f1;
    text-transform: uppercase;
    font-weight: 700;
    float: right;
    margin-right: 5%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui i.fa-file-o {
    margin-left: 15px;
}

.ui i.fa-picture-o {
    margin-left: 5%;
}

.left-menu h4 {
    padding: 15px;
}

.chat h4 {
    padding: 15px;
}

.chat-item {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #FFFFFF;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #2590EB 50%, #FFFFFF 50%);
    background-size: 100% 200%;
    transition: all 1s;
    color: #FFFFFF;
    font-size: 20px;
    float: left;
}

.chat-item1 {
    margin: -5px 0px 0px 30px;
    cursor: pointer;
}

.chat-item2 {
    margin: -5px 0px 0px 10px;
    cursor: pointer;
}

.chat-item3 {
    margin: -5px 0px 0px 10px;
    cursor: pointer;
}

.chat-item4 {
    margin: -5px 0px 0px 10px;
    cursor: pointer;
}

.chat-item1 input[type='file'],
.chat-item2 input[type='file'],
.chat-item3 input[type='file'] {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.chat-item1:hover,
.chat-item2:hover,
.chat-item3:hover {
    color: #2590EB;
    background-position: 0 -100%;
}

.player {
    width: 450px;
    height: 257px;
}

.player video {
    background: black;
    width: 450px;
    height: 257px;
    z-index: 1;
    position: absolute;
    overflow: hidden;
    border-radius: 20px;
    border: 10px solid #000;
    box-shadow: 0 0 10px #000;
    outline: none;
}