#messageArea {
    display: none;
    margin-top: 30px;
}

input {
    outline: none;
}

#chat {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
    font-family: BYekan, 'BYekan', tahoma;
    background: #e1e1e1 no-repeat 9px center;
    height: 550px;
    overflow-y: scroll;
}

/* Chat containers */
.chatbox {
    font-family: BYekan, 'BYekan', tahoma;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    border: solid #00c4ff85;
    margin-top: 10px;
    width: fit-content;
    height: fit-content;
    max-width: 700px;
    font-size: 15px;
    text-align: left;
}

/* Darker chat container */
.chatbox.other {
    font-family: BYekan, 'BYekan', tahoma;
    border-color: #ccc;
    border: solid #ff000085;
}

/* Clear floats */
.chatbox::after {
    content: "";
    clear: both;
    display: table;
}

.chatbox p{
    font-size: 16px
}

.list-group-item {
    margin-top: 5px;
}

input:-moz-placeholder {
    color: #999;
}

input::-webkit-input-placeholder {
    color: #999;
}

.text-center {
    text-align: center;
}

#userFormArea {
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}